# IDE configurations
.idea/
.vscode/


# Videos (large media files)
*.mp4
*.avi
*.mov
*.mkv

# Audios (large media files)
*.mp3
# *.wav
# *.flac

# # Images (large media files)
# *.jpg
# *.jpeg
# *.png
# *.gif




# Microsoft Office files
*.docx
*.xlsx
*.pptx



# Executables (Windows)
*.exe


################################################################
# System Specific Ignores
################################################################
# System files
ext/
.DS_Store
Thumbs.db
*.lnk
*.url

# Python
venv/

