
################################################################
# General Ignores (Large Media Files & Common File Types)
################################################################ 
# Videos (large media files)
*.mp4
*.avi
*.mov
*.mkv

# Audios (large media files)
*.mp3
# *.wav
# *.flac

# # Images (large media files)
# *.jpg
# *.jpeg
# *.png
# *.gif




# Microsoft Office files
*.docx
*.xlsx
*.pptx





################################################################
# System Specific Ignores
################################################################

# IDE configurations
.idea/
.vs/
.vscode/

# Binary files
[Dd]ist/
[Dd]ists/
[Bb]uild/
[Bb]uilds/
[Bb]in/
[Ee]xt/

*.exe
*.dll
*.lib

# System files
.DS_Store
Thumbs.db
*.lnk
*.url
# Cache files
*.psd
ref/
Ruth*.pdf

# Python
venv/

