################################################
### CMake (Build Autoation)
################################################
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps



################################################
### Precompiled Headers (preprocessor)
################################################
*.gch
*.pch
################################################
### Compiled Object files (compiler)
################################################
*.o
*.ko
*.obj
*.elf
# cpp extension
*.slo
*.lo
################################################
### Libraries (archiver)
################################################
# Compiled Static libraries
*.lai
*.la
*.a
*.lib
*.lo
# Compiled Dynamic libraries (Shared objects, inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib
################################################
### Executables (linker)
################################################
# Linker output (.ilk)
*.ilk
*.map
*.exp
# Debug files (.pdb)
*.dSYM/
*.su
*.idb
*.pdb
# Executables (.exe)
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex



################################################
### Miscellaneous
################################################
# Prerequisites
*.d
# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
# Fortran module files
*.mod
*.smod



################################################
### Visual Studio (IDE configuration)
################################################
# config files
/.vscode/
/.idea/
/.vs/
CMakePresets.json
# project solutions
/[Bb]uild/
/[Bb]uilds/
/[Oo]ut/
/[Oo]uts/
# documentations
/[Dd]oc/
/[Dd]ocs/
# automation scripts
deploy.sh
compile.sh
run.sh